<div class="container">
  <mat-card>
    <mat-card-header>
      <mat-card-title>Register</mat-card-title>
    </mat-card-header>
    <mat-card-content>
      <form [formGroup]="registrationForm" (ngSubmit)="register()">
        <mat-form-field>
          <mat-label>Email</mat-label>
          <input
            type="email"
            matInput
            placeholder="john.doe@mail.com"
            formControlName="email"
          />
          <mat-error><p>{{password.errors}}</p></mat-error>
        </mat-form-field>
        <mat-form-field>
          <mat-label>Username</mat-label>
          <input
            type="text"
            matInput
            placeholder="johnDoe"
            formControlName="username"
          />
          <mat-error>error</mat-error>
        </mat-form-field>
        <mat-form-field>
          <mat-label>Password</mat-label>
          <input type="password" matInput formControlName="password" />
          <mat-error>error</mat-error>
        </mat-form-field>
        <button
          mat-flat-button
          color="primary"
          type="submit"
          [disabled]="!registrationForm.valid"
        >
          Register
        </button>
      </form>
    </mat-card-content>
    <mat-card-footer>
      <p>
        Already have an account? <a [routerLink]="['/public/login']">Login</a>
      </p>
    </mat-card-footer>
  </mat-card>
</div>
